<ul>
    <li> <%#/hello?name=makoだと、「mako」が表示されちゃう%>
        <a href="/hello">Hello</a>
    </li>

    <li>
        <a href="/user">User</a>
    </li>

    <li>
        <a href="/time">時刻表示</a>
    </li>

    <li>
        <a href="/form">フォーム表示</a>
    </li>

    <li>
        <a href="/upload">画像投稿</a>
    </li>
</ul>